<h1>hola {{user.first_name}}</h1>

{{#if isValid}}
<div>
  <h2>Productos</h2>
  {{#each docs}}
    <p>id: {{this._id}}</p>
    <p>title: {{this.title}}</p>
    <p>description: {{this.description}}</p>
    <p>price: {{this.price}}</p>
    <p>stock: {{this.stock}}</p>
    <p>category: {{this.category}}</p>
<br>
  {{/each}}
</div>
{{#if hasPrevPage}}
<a href={{this.prevLink}}><< Last page</a>
{{/if}}
{{this.page}}
{{#if hasNextPage}}
<a href={{this.nextLink}}>Next page >></a>
{{/if}}
{{else}}
<h1>No products to show</h1>
{{/if}}

<form action="/api/products/register/product" method="post" enctype="multipart/form-data">

  <label for="title">Título:</label>
  <input type="text" required name="title" id="title" placeholder="Título" /><br />

  <label for="description">Descripción:</label>
  <input type="text" required name="description" id="description" placeholder="Descripción" /><br />

  <label for="code">Código:</label>
  <input type="text" required name="code" id="code" placeholder="Código" /><br />

  <label for="price">Precio:</label>
  <input type="number" required name="price" id="price" placeholder="Precio" /><br />

  <label for="status">Estado (true/false):</label>
  <input type="text" required name="status" id="status" placeholder="Estado (true/false)" /><br />

  <label for="stock">Stock:</label>
  <input type="number" required name="stock" id="stock" placeholder="Stock" /><br />

  <label for="category">Categoría:</label>
  <input type="text" required name="category" id="category" placeholder="Categoría" /><br />

  <button type="submit">Registrar producto</button><br />
</form>